@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

$primary-colour: #222E50;
$secondary-colour:#ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    color: $primary-colour;
    font-family: "Poppins", sans-serif;
    color: #222E50;
    background: linear-gradient(
        125.96deg
        , #d2d8a3 7.99%, rgba(199, 216, 178, 0.91) 22.51%, rgba(188, 216, 193, 0.84) 34%, #85bcb3 47.67%, #007991 87.6%);
  
}


