@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

$primary-colour: #222E50;
$secondary-colour:#ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    color: $primary-colour;
    background : -moz-linear-gradient(-17.38% -36.91% -35.96deg,rgba(210, 216, 163, 1) 7.99%,rgba(199, 216, 178, 0.91) 22.51%,rgba(188, 216, 193, 0.84) 34%,rgba(133, 188, 179, 1) 47.67%,rgba(0, 121, 145, 1) 87.6%);
    background : -webkit-linear-gradient(-35.96deg, rgba(210, 216, 163, 1) 7.99%, rgba(199, 216, 178, 0.91) 22.51%, rgba(188, 216, 193, 0.84) 34%, rgba(133, 188, 179, 1) 47.67%, rgba(0, 121, 145, 1) 87.6%);
    background : -webkit-gradient(linear,-17.38% -36.91% ,127.42% 149.86% ,color-stop(0.0799,rgba(210, 216, 163, 1) ),color-stop(0.2251,rgba(199, 216, 178, 0.91) ),color-stop(0.34,rgba(188, 216, 193, 0.84) ),color-stop(0.4767,rgba(133, 188, 179, 1) ),color-stop(0.876,rgba(0, 121, 145, 1) ));
    background : -o-linear-gradient(-35.96deg, rgba(210, 216, 163, 1) 7.99%, rgba(199, 216, 178, 0.91) 22.51%, rgba(188, 216, 193, 0.84) 34%, rgba(133, 188, 179, 1) 47.67%, rgba(0, 121, 145, 1) 87.6%);
    background : -ms-linear-gradient(-35.96deg, rgba(210, 216, 163, 1) 7.99%, rgba(199, 216, 178, 0.91) 22.51%, rgba(188, 216, 193, 0.84) 34%, rgba(133, 188, 179, 1) 47.67%, rgba(0, 121, 145, 1) 87.6%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#D2D8A3', endColorstr='#007991' ,GradientType=0)";
    background : linear-gradient(125.96deg, rgba(210, 216, 163, 1) 7.99%, rgba(199, 216, 178, 0.91) 22.51%, rgba(188, 216, 193, 0.84) 34%, rgba(133, 188, 179, 1) 47.67%, rgba(0, 121, 145, 1) 87.6%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D2D8A3',endColorstr='#007991' , GradientType=1);
}

