.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
    gap:minmax(10px,16px);

}

@media only screen and (min-width:0px) and (max-width: 480px){
 .container{
    margin: 36px 0px;
    .calculator {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
 }


@media only screen and (min-width:480px) and (max-width: 768px){
    .container {
        margin: 36px 0px;
       gap:16px;
       .calculator {
           grid-column-start: 2;
           grid-column-end: 4;
           grid-row-start: 1;
           grid-row-end: 3;
       }
    }
   }
   
   @media only screen and (min-width:768px) and (max-width: 2500px){
    .container {
       display: grid;
       grid-template-columns: repeat(12,1fr);
       grid-template-rows: repeat(4,1fr);
       gap:16px;
       margin: 182px 0px;
       .calculator {
           grid-column-start: 2;
           grid-column-end: 4;
           grid-row-start: 1;
           grid-row-end: 3;
       }
    }
   }
   

}