.container {
    display: grid;

@media only screen and (max-width: 480px) {
    margin: 0px 36px;
    gap: 10px;
    min-width: 320px;
    max-width: 480px;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(10, 10vh);
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    margin: 0px 80px;
    gap: 16px;
    grid-template-columns: repeat(6, 20vw);
    grid-template-rows: repeat(10, 10vh);
}

@media only screen and (min-width:768px){
    margin: 0px 36px;
    gap: 10px;
    min-width: 320px;
    max-width: 480px;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(10, 10vh);
 }
}
.calculator{
    @media only screen and (max-width: 480px) {
    gap:10px;
    width: 100%;
    grid-area: 2/1/2/2;
    }
    @media only screen and (min-width: 480px) and (max-width: 768px){
    gap: 16px;
    width: 100%;
    grid-area: 2/1/2/2;
    }


    @media only screen and (min-width:768px) and (max-width: 2500px){
        gap: 16px;
    width: 100%;
    grid-area: 2/1/2/2;
    }

    }
