@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #222E50;
  font-family: "Poppins", sans-serif;
  color: #222E50;
  background: linear-gradient(125.96deg, #d2d8a3 7.99%, rgba(199, 216, 178, 0.91) 22.51%, rgba(188, 216, 193, 0.84) 34%, #85bcb3 47.67%, #007991 87.6%);
}

.container {
  display: grid;
}
@media only screen and (max-width: 480px) {
  .container {
    gap: 10px;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(10, 10vh);
    justify-content: center;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    gap: 16px;
    grid-template-columns: repeat(6, 11vw);
    grid-template-rows: repeat(10, 10vh);
  }
}
@media only screen and (min-width: 768px) {
  .container {
    gap: 16px;
    grid-template-columns: repeat(12, 8vw);
    grid-template-rows: repeat(10, 10vh);
  }
}

@media only screen and (max-width: 480px) {
  .calculator {
    gap: 10px;
    width: 100%;
    grid-area: 2/1/2/2;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .calculator {
    gap: 16px;
    width: 100%;
    grid-area: 1/2/2/4;
  }
}
@media only screen and (min-width: 769px) and (max-width: 2500px) {
  .calculator {
    gap: 16px;
    width: 100%;
    grid-area: 1/2/2/4;
  }
}

.calculator {
  display: inline-grid;
  grid-template-columns: repeat(4, 100%);
  grid-template-rows: repeat(7, 100%);
  width: 100%;
}

#calculator__heading {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  #calculator__heading {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 2500px) {
  #calculator__heading {
    font-size: 2rem;
  }
}

#calculator__display {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  #calculator__display {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 2500px) {
  #calculator__display {
    font-size: 1.75rem;
  }
}

#equals {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 7;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 0px;
}

.calculator__button {
  display: flex;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 1rem 2rem;
  border: none;
  margin: 0px;
  margin: 0;
  background: rgba(255, 255, 255, 0.5);
  color: #222E50;
  font-family: "Poppins" !important;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .calculator__button {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 2500px) {
  .calculator__button {
    font-size: 1.5rem;
  }
}

.calculator__button:hover, #equals:hover {
  background: #222E50;
  color: #ffffff;
}

.calculator__button:active #equals:active {
  transform: scale(0.99);
}