@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #222E50;
  background: -moz-linear-gradient(-17.38% -36.91% -35.96deg, #d2d8a3 7.99%, rgba(199, 216, 178, 0.91) 22.51%, rgba(188, 216, 193, 0.84) 34%, #85bcb3 47.67%, #007991 87.6%);
  background: -webkit-linear-gradient(-35.96deg, #d2d8a3 7.99%, rgba(199, 216, 178, 0.91) 22.51%, rgba(188, 216, 193, 0.84) 34%, #85bcb3 47.67%, #007991 87.6%);
  background: -webkit-gradient(linear, -17.38% -36.91%, 127.42% 149.86%, color-stop(0.0799, #d2d8a3), color-stop(0.2251, rgba(199, 216, 178, 0.91)), color-stop(0.34, rgba(188, 216, 193, 0.84)), color-stop(0.4767, #85bcb3), color-stop(0.876, #007991));
  background: -o-linear-gradient(-35.96deg, #d2d8a3 7.99%, rgba(199, 216, 178, 0.91) 22.51%, rgba(188, 216, 193, 0.84) 34%, #85bcb3 47.67%, #007991 87.6%);
  background: -ms-linear-gradient(-35.96deg, #d2d8a3 7.99%, rgba(199, 216, 178, 0.91) 22.51%, rgba(188, 216, 193, 0.84) 34%, #85bcb3 47.67%, #007991 87.6%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#D2D8A3', endColorstr='#007991' ,GradientType=0)";
  background: linear-gradient(125.96deg, #d2d8a3 7.99%, rgba(199, 216, 178, 0.91) 22.51%, rgba(188, 216, 193, 0.84) 34%, #85bcb3 47.67%, #007991 87.6%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#D2D8A3",endColorstr="#007991" , GradientType=1);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: minmax(10px, 16px);
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .container {
    margin: 36px 0px;
  }
  .container .calculator {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) and (min-width: 480px) and (max-width: 768px) {
  .container {
    margin: 36px 0px;
    gap: 16px;
  }
  .container .calculator {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
@media only screen and (min-width: 0px) and (max-width: 480px) and (min-width: 768px) and (max-width: 2500px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    margin: 182px 0px;
  }
  .container .calculator {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
.calculator {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  min-width: 300px;
  max-width: 536px;
  gap: 10px;
}

#calculator__heading {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator__display {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#equals {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 7;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 0px;
}

.calculator__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.5);
  color: #222E50;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.calculator__button:hover, #equals:hover {
  background: #222E50;
  color: #ffffff;
}

.calculator__button:active #equals:active {
  transform: scale(0.99);
}