.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
// @media only screen and (max-width: 480px) {
  
// }
// @media only screen and (min-width: 480px) and (max-width: 768px) {
//     gap: 16px;
//     grid-template-columns: repeat(6, 1fr);
//     grid-template-rows: repeat(10, 1fr);
// }

// @media only screen and (min-width:768px){

//     gap: 16px;
//     grid-template-columns: repeat(12, 1fr);
//     grid-template-rows: repeat(10, 1fr);
    //  }
    .calculator{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7,1fr);
        gap:16px;
        width: 80vw;
        height: 75vh;
        @media only screen and (max-width: 480px) {
        gap: 10px;
        }
    
    #calculator__display {
        grid-area: 1/1/1/5;
    }
    #equals {
        grid-area: 6/1/7/5;
    }
    }
}
