@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #222E50;
  font-family: "Poppins", sans-serif;
  color: #222E50;
  background: linear-gradient(125.96deg, #d2d8a3 7.99%, rgba(199, 216, 178, 0.91) 22.51%, rgba(188, 216, 193, 0.84) 34%, #85bcb3 47.67%, #007991 87.6%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container .calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 16px;
  width: 80vw;
  height: 75vh;
}
@media only screen and (max-width: 480px) {
  .container .calculator {
    gap: 10px;
  }
}
.container .calculator #calculator__display {
  grid-area: 1/1/1/5;
}
.container .calculator #equals {
  grid-area: 6/1/7/5;
}

#container__heading {
  text-align: center;
}

.calculator #calculator__heading {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .calculator #calculator__heading {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 2500px) {
  .calculator #calculator__heading {
    font-size: 2rem;
  }
}
.calculator #calculator__display {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  height: 10vh;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .calculator #calculator__display {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 2500px) {
  .calculator #calculator__display {
    font-size: 1.75rem;
  }
}
.calculator #equals {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 0px;
}
.calculator .calculator__button {
  display: flex;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 1vmin 2vmin;
  border: none;
  margin: 0px;
  margin: 0;
  background: rgba(255, 255, 255, 0.5);
  color: #222E50;
  font-family: "Poppins" !important;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .calculator .calculator__button {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 2500px) {
  .calculator .calculator__button {
    font-size: 1.5rem;
  }
}
.calculator .calculator__button:hover, .calculator #equals:hover {
  background: #222E50;
  color: #ffffff;
}
.calculator .calculator__button:active #equals:active {
  transform: scale(0.99);
}